*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    background-color: lightslategray;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.container1
{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    padding: 20px 20px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

    
    
}
.box1{
    background-color: darkcyan;
    height: 100px;
    text-align: center;
    position: relative !important;
    padding: 30px;   
}
label{
    color: white;
    padding-top: 10px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
} 
input
{
    outline: none;
    height: 80%;

}
.Budgets
{
    position: relative;
    top: 50px;
    margin: 100px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border: none;

}
.Home
{
    background: black;
    height: 40px;
    color: white;
}
._Home
{
    position: relative;
}
.amount1
    {
      position: relative;
      left: 50%;
    }

.amount2
 {
    position: static;
    
 }
 .amount3
 {
    
    position: static;
     

 }
 .amount4
 {
    position: static;
    
 }
 .amount5
 {
    position: static;
   
 }
 .amount6
 {
    position: static;
 }
input::-webkit-outer-spin-button
input::-webkit-inner-spin-button
{
    display: none;
    margin: 0;
}
.button 
{
    color: white;
     border: none; 
     border-radius: 5px; 
     margin: 10px;
     background-color: darkcyan;
      padding: 10px 20px;
}
.button:hover
{
    background-color: blue;
    transition: 0.5s;
} 